{% extends 'user/index.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-8">
                <h2>Список групповых занятий</h2>
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">ФИО тренера</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Подписка</th>
                        <th scope="col">Отмена подписки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for groupLesson in groupLessons %}
                        <tr>
                            <td>{{ groupLesson.title }}</td>
                            <td>{{ groupLesson.lastNameTrainer }} {{ groupLesson.firstNameTrainer }} {% if groupLesson.patronymicTrainer is defined %}{{ groupLesson.patronymicTrainer }}{% endif %}</td>
                            <td>{{ groupLesson.description}}</td>
                            <td>
                                <h5>
                                    {% if groupLesson.notificationType == 'notSubscribe' %}
                                        <a href="{{ path('user_group_lesson_add', {'id':groupLesson.id}) }}" class="btn btn-success btn-sm" type="submit">
                                            Подписаться
                                        </a>
                                    {% else %}
                                        Вы подписаны!
                                        Выбрать или изменить вид подписки:
                                        <form action="{{ path('user_group_lesson_change_notification_type', {'id':groupLesson.id}) }}" method="get">
                                        <select class="form-select" name="notificationType" aria-label="Default select example">
                                            <option value="notNotification" {% if groupLesson.notificationType == null %}selected{% endif %}>Не выбран</option>
                                            <option value="phone" {% if groupLesson.notificationType == 'phone' %}selected{% endif %}>Телефон</option>
                                            <option value="email" {% if groupLesson.notificationType == 'email' %}selected{% endif %}>Email</option>
                                        </select>
                                            <button class="btn btn-outline-success" type="submit">Подтвердить</button>
                                        </form>
                                    {% endif %}
                                </h5>
                            </td>
                            <td>
                                {% if groupLesson.notificationType != 'notSubscribe' %}
                                    <a href="{{ path('user_group_lesson_cancel', {'id':groupLesson.id}) }}" class="btn btn-danger btn-sm" type="submit">
                                        Отменить
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}